<div>
    <form name="mensaje" class="escribirMensaje" action="" method="get" enctype="multipart/form-data">
    <p>Escribe tu mensaje</p>
    <ul>
        <li><input type="text" name="nick" class="nick" placeholder="Nick"></li>
        <li><textarea name="escribirMensaje" rows="10" cols="50" placeholder="Escribe tu mensaje"></textarea></li>
    </ul>
    <button class="botonEnviarMensaje" onclick="">Enviar mensaje</button>
    </form>
</div>

