<div>
    <form name="registro" class="formularioRegistro" action="/" method="POST">
    <p>Regístrate</p>
    <ul>
        <li><label for="nombre"><input type="text" name="nombre" class="nombre" placeholder="Nombre"></label></li>
        <li><input type="mail" name="correo" class="correo" placeholder="Correo"></li>
        <li><input type="text" name="nick" class="nick" placeholder="Nick"></li>
        <li><input type="password" name="password" class="password" placeholder="Contraseña"></li>
        <!--<li><input type="password" name="password2" class="password2" placeholder="Confirmar contraseña"></li>-->
        <li> <a href="escribirMensaje"><input type="submit" name="registro" value="Registro"></a></li>
    </ul>
    <input type="button" class="botonLogin" value="Regístrate">
    </form>
    <a href="escribirMensaje">Loguéate<input type="button" class="botonLogin"></a> 

    <form name="login" class="formularioLogin" action="" method="get" enctype="multipart/form-data">
    <p>Login</p>
    <ul>
        <li><input type="text" name="nick" class="nick" placeholder="Nick"></li>
        <li><input type="password" name="password" class="password" placeholder="Contraseña"></li>
    </ul>
    <a href="mostrarMensajes">Loguéate<input type="button" class="botonLogin"></a>   
    </form>
</div>