
<div class="cajaFormularioRegistroLogin">

    <div class="cajaFormularioRegistro">
         <form name="registro" class="formularioRegistro" action="/formu" method="POST"  enctype="application/x-www-form-urlencoded">
        <p>Regístrate</p>
    <ul>
        <li><label for="nombre"><input type="text" name="nombre" class="nombre" placeholder="Nombre"></label></li>
        <li><input type="mail" name="correo" class="correo" placeholder="Correo"></li>
        <li><input type="text" name="nick" class="nick" placeholder="Nick"></li>
        <li><input type="password" name="password" class="password" placeholder="Contraseña"></li>
    </ul>
     <input type="submit" name="registro" value="Registro">
    </form>
    </div>

   <div class="cajaFormularioLogin">
        <form name="login" class="formularioLogin" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
        <p>Login</p>
        <ul>
            <li><input type="text" name="nickLogin" class="nickLogin" placeholder="Nick"></li>
            <li><input type="password" name="passwordLogin" class="passwordLogin" placeholder="Contraseña"></li>
        </ul>
       <input type="submit" class="botonLogin" value="Loguéate">   
        </form>
   </div>
    
</div>